[submodule "benchmark/extern/benchmark"]
	path = benchmark/extern/benchmark
	url = https://github.com/google/benchmark.git
[submodule "tests/extern/googletest"]
	path = tests/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "APA"]
	url = https://github.com/Pykislav/APA
